{% extends 'base.html.twig' %}
{% block body %}

    <h1 style="text-align: center">Dodaj kategorię:</h1>

    <h2 style="text-align: center">
        {{ form(form) }}
    </h2>
    <h3 style="text-align: center">
        <a href="{{ path('categorieslist') }}">Wyświetl listę kategorii</a>
    </h3>
{% endblock %}